<div class="container p-4">
     <div class="row">
         {{#each members}}
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h3 class="card-title text-uppercase">
                            {{name}}
                        </h3>
                        <p class="m-2">
                            {{nick_name}}
                        </p>
                        <p class="m-2">
                            {{email}}
                        </p>
                        <a href="/deleteMember/{{id}}" data-confirm="Are you sure?" data-method="delete" class="btn btn-danger">Borrar</a>
                        <a href="/updateMember/{{id}}" class="btn btn-secondary">Editar</a>
                    </div>
                </div>
            </div>
         {{else}}
            <div class="col md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>Aun no hay Miembros creados</p>
                    <a href="/members/create">Crear Miembros</a>
                </div>
            </div>
         {{/each}}
     </div>
</div>